:root{
    --rojo-leno:#cd060d;
    --rojo-oscuro:#960f1a;
    --blanco:whitesmoke;
    --naranja:#ef8e3d;
    --bg-gris:#2b2f31;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Staatliches;
    font-size: 20px;
}

body{
    overflow-x: hidden;
    background-color: #2b2f31;
}

::-webkit-scrollbar {width: 1px;height: 1px;} 
::-webkit-scrollbar-corner {background: transparent;}
::selection { 
    background: var(--rojo-leno); /*Color naranja para el fondo*/
    color: var(--blanco); }

header{
    width: 100%;
    background-color:var(--rojo-oscuro);
}

label i{
    padding-right: 15px;
    font-size: 25px;
    color: var(--blanco);
    margin-right: 20px;
    cursor: pointer;
}


nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 30px;
    font-family: 'anton';
    font-size: 3.5em;
    color: var(--blanco);
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition:all .5s ;
    z-index: 2;

}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px;
    transition: all .5s;
    font-family: 'Staatliches';
    

}

.nav-menu li a{
    color: white;
    font-size: 1.4em;
    font-weight: 600;

}

.nav-menu li a:hover{
   color:var(--rojo-oscuro);
   transition: 0.3s;
}


#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;

}

/* SUCURSAL */

.main-container h1{
    color: var(--naranja);
    text-align: center;
    font-size: 2em;
    padding-top: 30px;
}

.main-container h2 {
    padding-top: 10vw;
    color: var(--naranja);
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}

.inline{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 10px;
}
.inline i{
    color: var(--naranja);
    font-size: 1.45em;
}
.inline h3{
    font-size: 1.45em;
    color: whitesmoke;
}
.dia{
    margin-bottom: 20px;
}


.mapa{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.atencion{
    padding-bottom: 50px;
}
.atencion h3{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5em;
}

.simple{
    width: 100%;
    margin-bottom: 40px;
}


.cont2 img{
    width: 50%;
}
.cont2{
    display: flex;
    gap: 5px;
    display: none;
}

.cont3 img{
    width: 33%;
}
.cont3{
    display: flex;
    gap: 5px;
    display: none;
}


footer{
    transition: 0.5s;
    font-family:'Segoe UI';
    position:relative;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: var(--rojo-oscuro);
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 1.3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: 2.5em;
    font-family: 'Anton';
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-size: 70%;
    margin-right: 1rem;
    color: whitesmoke;
    font-size: 1.2em;
}


.social-link:hover{
    opacity: 0.7;
}



@media screen and (max-width:768px){
    /* FOOTER RESPONSIVE */
     .footer-container{
         
         padding: 2rem;
         flex-direction: column;
     }
 
     .footer-content-container{
         width: 100%;
         padding: 2rem 0;
         border-bottom: 1px solid rgba(255, 255, 255, 0.3);
         justify-content: center;
         align-items: center;
     }
 
     .footer-content-container:nth-of-type(1){
         align-items: flex-start;
     }
     .footer-content-container:nth-of-type(3){
         border-bottom: none;
         padding-bottom: 0;
     }
 
     .footer-menus{
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     }
 
     .footer-menus .footer-content-container:nth-of-type(1){
         width: 45%;
         align-items: flex-start;
         border-bottom: none;
     }
     .footer-menus .footer-content-container:nth-of-type(2){
         width: 45%;
         align-items: flex-start;
         border-bottom: none;
     }

}




@media screen and (min-width:900px){ 
    
    nav{
    height: 100px;
}
  .bar-btn{
    display: none;
    color: white;
}

.nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
}

.nav-menu li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
}

.nav-menu li a{
    font-size: 1.3em;
}

.nav-menu li a:hover{
    color: #6C757D;
    transition: 0.3s;
}
}



@media screen and (min-width:700px){

    .simple{
        display: none;
    }

    .cont2 img{
        width: 50%;
    }
    .cont2{
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
    }

    .main-container h1{
        font-size: 3em;
    }
    .main-container h2 {
        padding-top: 5vw;
        font-size: 2.3em;
    }
    .inline h3{
        font-size: 2.3em;
    }
    .inline i{
        font-size: 2.3em;
    }

    .atencion h3{
        font-size:2em ;
    }

}

@media screen and (min-width:1040px){

    .simple{
        display: none;
    }
    .cont2{
        display: none;
    }

    .cont3 img{
        width: 33%;
    }
    .cont3{
        display: flex;
        gap: 5px;
        margin-bottom: 30px;
    }

    .cont{
      display: flex;
      justify-content: space-evenly;
    }
    
    .direccion{
        padding-top: 250px;
    }
   
    .direccion h1{
        font-size: 4em;
    }

    .alcance h2{
        display: none;
    }
    .alcance{
        padding-top: 50px;
    }
}

